/* Zvýraznění písma v patičce */
#footer .contact-box a,
#footer .password-helper a,
#footer .news-item-widget a,
#footer ul a {
  color: #595959;
}
.custom-footer {
  justify-content: center;
}
/* Naše značky */
[class*="custom-footer__banner"] {
  align-items: center;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dadada;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
[class*="custom-footer__banner"] > .banner {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .custom-footer ul li {
    padding: 15px;
  }
  [class*="custom-footer__banner"] {
    width: 50% !important;
  }
  .custom-footer .banner {
    min-height: auto;
  }
  .custom-footer {
    padding-top: 0px;
  }
  .custom-footer__banner36 {
    flex-basis: 100% !important;
  }
}
/* Zmenšení bloku newsletter */
@media (min-width: 767px) {
  .custom-footer > div.extended {
    width: 50%;
  }
  .custom-footer__banner36 {
    flex-basis: 50% !important;
  }
}
@media (min-width: 1200px) {
  .custom-footer > div.extended {
    width: 25%;
  }
  #footer .site-name {
    display: none;
  }
  .custom-footer {
    padding-left: 0px;
    padding-top: 0px;
  }
}
